apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  annotations:
    alpha.image.policy.openshift.io/resolve-names: '*'
    app.openshift.io/route-disabled: "false"
    app.openshift.io/vcs-uri: {{ coalesce .Values.applicationGitUrl "https://github.com/gmodzelewski/quinoa-wind-turbine.git" }}
    secret.reloader.stakater.com/reload: "infinispan-generated-secret,quinoa-wind-turbine"
  labels:
    app: quinoa-wind-turbine
    app.kubernetes.io/component: quinoa-wind-turbine
    app.kubernetes.io/instance: quinoa-wind-turbine
    app.kubernetes.io/name: quinoa-wind-turbine
    app.kubernetes.io/part-of: wind-turbine
    app.openshift.io/runtime: quarkus
  name: quinoa-wind-turbine
spec:
  replicas: 5
  revisionHistoryLimit: 10
  selector:
    app: quinoa-wind-turbine
  strategy:
    activeDeadlineSeconds: 21600
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - quinoa-wind-turbine
        from:
          kind: ImageStreamTag
          name: quinoa-wind-turbine:{{ .Values.imageTag | default .Chart.AppVersion }}
          namespace: {{ .Release.Namespace }}
  template:
    metadata:
      labels:
        app: quinoa-wind-turbine
      annotations:
        sidecar.istio.io/inject: 'true'
    spec:
      containers:
      - env:
        - name: QUARKUS_PROFILE
          value: openshift-cluster
        - name: INFINISPAN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: infinispan-generated-secret
        - name: QUARKUS_SECURITY_USERS_EMBEDDED_PLAIN_TEXT
          valueFrom:
            secretKeyRef:
              key: plain-text-password-enabled
              name: quinoa-wind-turbine
        - name: QUARKUS_SECURITY_USERS_EMBEDDED_USERS_DEVELOPER
          valueFrom:
            secretKeyRef:
              key: developer-user-password
              name: quinoa-wind-turbine
        image: {{ include "app.image" . }}
        imagePullPolicy: IfNotPresent
        name: quinoa-wind-turbine
        ports:
        - containerPort: 8080
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        resources: {}
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /q/health/ready
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3
          successThreshold: 1	
          timeoutSeconds: 1
        livenessProbe:
          httpGet:
            scheme: HTTP
            path: /q/health/live
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3
          successThreshold: 1	
          timeoutSeconds: 1
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
