apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  annotations:
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/sync-wave: "-1"
  labels:
    app: quinoa-wind-turbine
    app.kubernetes.io/name: quinoa-wind-turbine
    app.kubernetes.io/component: application
    app.kubernetes.io/part-of: wind-turbine
  name: quinoa-wind-turbine
spec:
  lookupPolicy:
    local: false
  tags:
    - annotations:
        openshift.io/imported-from: {{ coalesce .Values.image "quay.io/modzelewski/quinoa-wind-turbine" }}:{{ .Values.imageTag | default .Chart.AppVersion }}
      from:
        kind: DockerImage
        name: {{ coalesce .Values.image "quay.io/modzelewski/quinoa-wind-turbine" }}:{{ .Values.imageTag | default .Chart.AppVersion }}
      importPolicy:
        importMode: Legacy
      name: {{ .Values.imageTag | default .Chart.AppVersion }}
      referencePolicy:
        type: Source
